<div class="container mt-4">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-info">1. Product</h1>

      <app-product></app-product>
      <app-product></app-product>
      <app-product></app-product>

      <hr>
      
      <h1 class="text-danger">2. Laptop</h1>

      <app-laptop></app-laptop>
      <app-laptop></app-laptop>
      <app-laptop></app-laptop>

      <hr>
      <h1 class="text-info">3. Headphone</h1>
      <app-headphone></app-headphone>
      <app-headphone></app-headphone>
      <app-headphone></app-headphone>
      <hr>
      <h1 class="text-warning">4. Mouse</h1>
      <app-mouse></app-mouse>
      <app-mouse></app-mouse>
      <app-mouse></app-mouse>

      <hr>

      <h1 class="text-info">5. KeyBoard</h1>
      <app-keyboard></app-keyboard>
      <app-keyboard></app-keyboard>
      <app-keyboard></app-keyboard>
<hr>
      <h1 class="text-danger">6. Fruit</h1>
      <app-fruit></app-fruit>
      <app-fruit></app-fruit>
      <app-fruit></app-fruit>
      <hr>

      <h1 class="text-warning">7. Mobile</h1>
      <app-mobile></app-mobile>
      <app-mobile></app-mobile>
      <app-mobile></app-mobile>

      <hr>
      <h1 class="text-info">8. Mobile2</h1>
      <app-mobile2></app-mobile2>
      <app-mobile2></app-mobile2>
      <app-mobile2></app-mobile2>
      <hr>
      <h1 class="text-danger">Fruits</h1>
      <app-friut2></app-friut2>
      <hr>
      <h1 class="text-info">Subject</h1>
      <app-subject></app-subject>

      
    </div> 
  </div>
</div>